<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>


    <div class="formContainer" style="align-items: center; text-align: center;">
        <h3>Log in to your account</h3>

        <form action="/signin" method="post">
            <div class="form-group">
                <label for="email" class="sr-only">Email address</label>
                <input required type="email" class="form-control mr-4 ml-4 w-75" id="email" name="email" placeholder="Enter email">

            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input required type="password" class="form-control mr-4 ml-4 w-75" id="password" name="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-primary">Clear</button>

        </form>

        <span class="m-3">
            Don't have an account ?
            <a href="/register" style="text-decoration: underline;" >
                Sign up
            </a>
        </span>
    </div>

</body>

</html>